h1 {
  font-size: 2.6rem
}

h2 {
  font-size: 2.4rem
}

h3 {
  font-size: 2.2rem
}

h4 {
  font-size: 2.0rem
}

h5 {
  font-size: 1.8rem
}

h6 {
  font-size: 1.6rem
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.0rem
  }

  h2 {
    font-size: 2.8rem
  }

  h3 {
    font-size: 2.2rem
  }

  h4 {
    font-size: 1.8rem
  }

  h5 {
    font-size: 1.4rem
  }

  h6 {
    font-size: 1.2rem
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

p, h1, h2, h3, h4, h5, h6 {
  word-wrap: break-word;
}

code {
  white-space: normal;
}

.grey-text {
  color: #abb4b7;
}
