h1 {
  font-size: 3.4rem
}

h2 {
  font-size: 2.2rem
}

h3 {
  font-size: 1.8rem
}

h4 {
  font-size: 1.4rem
}

h5 {
  font-size: 1rem
}

h6 {
  font-size: 1rem
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4.0rem
  }

  h2 {
    font-size: 3rem
  }

  h3 {
    font-size: 2.2rem
  }

  h4 {
    font-size: 1.8rem
  }

  h5 {
    font-size: 1.4rem
  }

  h6 {
    font-size: 1.2rem
  }
}

p, h1, h2, h3, h4, h5, h6 {
  word-wrap: break-word;
}
